<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrap.Datepicker" version="1.2.0" targetFramework="net45" />
  <package id="Bootstrap.Datepicker.Globalize" version="0.1.2" targetFramework="net45" />
  <package id="dotless" version="1.3.1.0" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jquery-globalize" version="0.1.1" targetFramework="net45" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.2.2" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="2.3.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap.MVC" version="1.1.2" targetFramework="net45" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
  <package id="WebGrease" version="1.3.0" targetFramework="net45" />
</packages>