<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="Bootstrap.Datepicker" version="1.2.0" targetFramework="net45" />
  <package id="Bootstrap.Datepicker.Globalize" version="0.1.2" targetFramework="net45" />
  <package id="dotless.AspNetHandler" version="1.6.4" targetFramework="net461" />
  <package id="dotless.Core" version="1.6.4" targetFramework="net461" />
  <package id="jQuery" version="3.5.0" targetFramework="net45" />
  <package id="jquery-globalize" version="0.1.1" targetFramework="net45" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="2.3.2.1" targetFramework="net45" />
  <package id="Twitter.Bootstrap.MVC" version="1.1.7" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.2" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>